@media (max-width: 1920px){

}
@media (max-width: 1600px){
    
}
@media (max-width: 1440px){
    
}
@media (max-width: 1366px){
    
}
@media (max-width: 1280px){
    .yoga-classes-title h2, .yoga-classes-title h3 {
        font-size: 34px;
    }
    .classes-details h4 {
        font-size: 24px;
    }
    .classes-details p {
        font-size: 18px;
    }
    .classes-details h5 {
        font-size: 20px;
    }
    .light-font {
        padding-left: 16px;
    }
    .btn-show-more {
        font-size: 16px;
        padding: 15px 60px;
    }
    .dynamic-title h3 {
        font-size: 44px;
    }
    .dynamic-info h4 {
        font-size: 30px;
    }
    .dynamic-info p {
        font-size: 18px;
    }
    .img-practice-dynamic, .img-practice-dynamic-1 {
        width: 90%;
    }
    .dynamic-info h6 {
        font-size: 22px;
    }
    .dynamic-info hr {
        margin-bottom: 50px;
    }
    .dynamic-info h5 {
        font-size: 22px;
        margin-top: 30px;
    }
    .img-practice-dynamic-1 {
        margin-left: -5%;
    }
    .img-exerice {
        width: 36%;
    }
    .health-life-caption h4 {
        font-size: 23px;
    }
    .summer-classes-title h3 {
        font-size: 36px;
        padding-bottom: 5%;
    }
    .workshop-caption h3 {
        font-size: 42px;
    }
    .workshop-caption h6 {
        font-size: 22px; 
    }
    .footer-caption h4, .footer-caption h5 {
        font-size: 23px;
    }
}
@media(max-width: 1024px){
    .logo{
        width: 80%;
    }
    .yoga-classes-title h2, .yoga-classes-title h3 {
        font-size: 30px;
    }
    .img-classes-details {
        width: 75%;
    }
    .classes-details h4 {
        font-size: 22px;
    }
    .classes-details p {
        font-size: 16px;
    }
    .classes-details h5 {
        font-size: 18px;
    }
    .dynamic-title h3 {
        font-size: 36px;
    }
    .dynamic-info h4 {
        font-size: 28px;
    }
    .img-practice-dynamic, .img-practice-dynamic-1 {
        width: 86%;
    }
    .dynamic-info h6 {
        font-size: 20px;
    }
    .dynamic-info h5 {
        font-size: 20px;
        margin-top: 30px;
    }
    .dynamic-info p {
        font-size: 16px;
    }
    .left-arc, .right-arc {
        width: 50%;
    }
    .healthy-life-title h4 {
        font-size: 32px;
    }
    .health-life-caption h4 {
        font-size: 21px;
    }
    .health-life-caption p {
        font-size: 16px;
        padding-top: 5%;
    }
    .summer-classes-title h3 {
        font-size: 32px;
        padding-bottom: 5%;
    }
    .workshop-caption h3 {
        font-size: 38px;
    }
    .workshop-caption h6 {
        font-size: 20px;
    }
    .workshop-caption p {
        font-size: 16px;
    }
    .footer-caption h4, .footer-caption h5 {
        font-size: 21px;
    }
    .img-footer{
        width: 20%;
    }
}
@media(max-width: 800px){
    .navbar-light .navbar-nav .nav-link{
        padding-left: 10px;
    }
    .navbar-toggler{
        border: 0px;
    }
    .navbar-light .navbar-toggler-icon {
       background-image: url(../images/menu-icon.png);
    }
    button:focus{
        outline: 0px;
    }
    .yoga-classes-title h2, .yoga-classes-title h3 {
        font-size: 26px;
    }
    .yoga-classes-title h2 {
        margin-bottom: 0px;
    }
    .classes-details h4 {
        font-size: 20px;
    }
    .dynamic-title h3 {
        font-size: 32px;
    }
    .dynamic-info h4 {
        font-size: 26px;
    }
    .img-practice-dynamic{
        padding-top: 30%;
    }
    .img-practice-dynamic-1{
        padding-top: 35%;
    }
    .healthy-life-title h4 {
        font-size: 28px;
    }
    .healthy-life-title {
        left: 40%;
        margin-top: -6%;
    }
    .healthy-life {
        margin-top: 10%;
    }
    .health-life-caption h4 {
        font-size: 20px;
    }
    .summer-classes-title h3 {
        font-size: 28px;    
        padding-bottom: 7%;
    }
    .workshop-caption h3 {
        font-size: 32px;
    }
    .footer-caption h4, .footer-caption h5 {
        font-size: 20px;
    }
}
@media (max-width: 480px){
    .yoga-classes-title {
        margin-top: 0%;
    }
    .yoga-classes-title h2, .yoga-classes-title h3 {
        font-size: 32px;
    }
    .classes-details {
        padding-bottom: 70px;
        margin-top: -5%;
        text-align: center;
    }
    .classes-details .dot{
        display: none;
    }
    .classes-details h4 {
        font-size: 30px;
    }
    .classes-details p {
        font-size: 20px;
    }
    .classes-details h5 {
        font-size: 24px;
    }
    .dynamic-title, .img-practice-dynamic, .img-practice-dynamic-1 {
        padding-top: 15%;
    }
    .dynamic-title, .dynamic-info{
        text-align: center;
    }
    .left-arc, .right-arc {
        width: 100%;
    }
    .dynamic-info hr {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .dynamic-info {
        padding-top: 40px;
    }
    .dynamic-info h4 {
        font-size: 28px;
    }
    .dynamic-info p {
        font-size: 18px;
    }
    .dynamic-info h6 {
        font-size: 24px;
    }
    .dynamic-info h5 {
        font-size: 24px;
        margin-top: 30px;
    }
    .img-practice-dynamic, .img-practice-dynamic-1 {
        display: block;
        margin: auto;
    }
    .healthy-life-title {
        left: 30%;
        margin-top: -10%;
    }
    .healthy-life {
        margin-top: 15%;
    }
    .health-life-caption {
        margin-top: 15%;
    }
    .healthy-life-title h4 {
        font-size: 30px;
    }
    .health-life-caption h4 {
        font-size: 28px;
        padding-top: 5%;
    }
    .health-life-caption p {
        font-size: 20px;
        padding-top: 5%;
    }
    .summer-classes-title h3 {
        font-size: 32px;
        padding-bottom: 15%;
    }
    .workshop-caption h3 {
        font-size: 34px;
        text-align: center;
    }
    .workshop-caption h6 {
        font-size: 24px;
        text-align: center;
    }
    .workshop-caption p {
        font-size: 22px;
        text-align: center;
    }
    .footer-caption h4, .footer-caption h5 {
        font-size: 24px;
        text-align: center;
    }
    .footer-logo {
        margin-bottom: 5%;
    }
    .footer-caption p,  .footer-caption li{
        text-align: center;
        font-size: 18px;
    }
    .footer-caption h5 {
        margin-top: 10%;
    }
    .img-footer {
        width: 32%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
@media (max-width: 414px){

}
@media (max-width: 412px){
    .logo {
        width: 70%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
    }
    .yoga-classes-title h2, .yoga-classes-title h3 {
        font-size: 28px;
    }
    .classes-details h4 {
        font-size: 26px;
    }
    .classes-details p {
        font-size: 18px;
    }
    .classes-details h5 {
        font-size: 22px;
    }
    .btn-show-more {
        font-size: 15px;
        padding: 12px 50px;
    }
    .dynamic-title h3 {
        font-size: 28px;
    }
    .dynamic-info h4 {
        font-size: 26px;
    }
    .dynamic-info p {
        font-size: 16px;
    }
    .dynamic-info h6 {
        font-size: 22px;
    }
    .dynamic-info h5 {
        font-size: 22px;
        margin-top: 30px;
    }
    .healthy-life-title h4 {
        font-size: 28px;
    }
    .healthy-life-title {
        left: 26%;
        margin-top: -10%;
    }
    .health-life-caption h4 {
        font-size: 26px;
        padding-top: 5%;
    }
    .health-life-caption p {
        font-size: 18px;
        padding-top: 5%;
    }
    .summer-classes-title h3 {
        font-size: 28px;
        padding-bottom: 15%;
    }
    .workshop-caption h3 {
        font-size: 30px;
    }
    .workshop-caption h6 {
        font-size: 22px;
    }
    .workshop-caption p {
        font-size: 20px;
    }
    .footer-caption h4, .footer-caption h5 {
        font-size: 22px;
    }
    .footer-caption p, .footer-caption li {
        font-size: 16px;
    }
}
@media(max-width: 360px){
    .yoga-classes-title h2, .yoga-classes-title h3 {
        font-size: 24px;
    }
    .classes-details h4 {
        font-size: 24px;
    }
    .classes-details p {
        font-size: 16px;
    }
    .classes-details h5 {
        font-size: 20px;
    }
    .btn-show-more {
        font-size: 14px;
        padding: 12px 50px;
    }
    .dynamic-title h3 {
        font-size: 26px;
    }
    .dynamic-info h4 {
        font-size: 24px;
    }
    .dynamic-info p {
        font-size: 14px;
    }
    .dynamic-info h6 {
        font-size: 20px;
    }
    .dynamic-info h5 {
        font-size: 20px;
        margin-top: 30px;
    }
    .healthy-life-title h4 {
        font-size: 24px;
    }
    .healthy-life-title {
        left: 26%;
        margin-top: -13%;
        width: 178px;
    }
    .health-life-caption h4 {
        font-size: 22px;
        padding-top: 5%;
    }
    .health-life-caption p {
        font-size: 14px;
        padding-top: 5%;
    }
    .summer-classes-title h3 {
        font-size: 24px;
        padding-bottom: 15%;
    }
    .workshop-caption h3 {
        font-size: 26px;
    }
    .workshop-caption h6 {
        font-size: 20px;
    }
    .workshop-caption p {
        font-size: 18px;
    }
    .footer-caption h4, .footer-caption h5 {
        font-size: 18px;
    }
    .footer-caption p, .footer-caption li {
        font-size: 14px;
    }
}
@media(max-width: 320px){
    
}